ion-input {
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

ion-label {
  margin-right: 10%;
}

ion-card {
  width: 100%;
}

ion-card-content {
  padding-top: 0em;
  padding-bottom: 0em;
}
