<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accessories</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>List of accessories</h2>

  <ion-searchbar placeholder="Search..." animated="true"
                 [(ngModel)]="filterTerm"
                 (ionChange)="filterAccessoryList()">
  </ion-searchbar>

  <ion-button (click)="onAddAccessoryPage()" color="success">
    <ion-icon name="add"></ion-icon>
    <span>Add an accessory</span>
  </ion-button>

  <ion-list inset="true">
    <ion-item *ngFor="let acc of accessoryList">

      <ion-card>
        <ion-card-header>
          <ion-card-title>{{acc.name}}</ion-card-title>
          <ion-card-subtitle>Seller {{acc.sellerAlias}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{acc.likes}} likes
        </ion-card-content>

        <ion-card-content>
          {{acc.stockNumber}} in stock
        </ion-card-content>

        <ion-card-content size="2">
          <ion-button (click)="onEditPage(acc)" color="secondary" >
            <ion-icon name="create" size="2x"></ion-icon>
          </ion-button>
          <ion-button (click)="onDelete(acc)" color="secondary">
            <ion-icon name="trash" size="2x"></ion-icon>
          </ion-button>
          <ion-button (click)="onLike(acc)" color="secondary" >
            <ion-icon name="heart" size="2x"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-button (click)="onHomePage()" color="success">
    <ion-icon id="home" name="home" size="2x"></ion-icon>
    <span>Home page</span>
  </ion-button>
</ion-content>
